body {
    font: 15px/1.5 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button {
    height: 38px;
    background: #1A286D;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    width: 27%;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
}

.active,
button:hover {
    background-color: #5EC6FF;
    cursor: pointer;
    color: #1A286D;
}

.dark {
    padding: 15px;
    background: #333;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    font-weight: bold;
}

form a {
    text-decoration: underline;
    color: white;
}

input,
#search button {
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    padding-left: 1%;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}


/* how it works */

#how {
    text-align: center;
    background: #3F67CC;
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 20px;
    color: #ffffff;
    background-color: #333;
    height: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: initial;
    width: 100%;
}

.signin {
    width: 65%;
    margin: auto;
    margin-top: 15px;
}

#auth .leftButtons {
    float: right;
}

.signin input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.signin button {
    margin-top: 9px;
}

#logo {
    height: 30px;
}

#info {
    margin-top: 0;
    float: left;
}

#info p {
    font-size: 18px;
}

#signin_tab {
    float: left;
    width: 50%;
}

#signup_tab {
    float: right;
    width: 50%;
}

#signup {
    margin-bottom: 50px;
}

#auth .container {
    width: 45%;
}


/* Media Queries */

@media(max-width: 768px) {
    .signin {
        width: 80%
    }
    #auth .container {
        width: 100%;
    }
    .footer {
        clear: both;
        position: relative;
        height: 40px;
        margin-top: -40px;
    }
}