body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    background-color: #ddd;
}

.nav {
    background-color: tomato;
    padding: 15px 0;
}

.nav a {
    margin: 0 15px;
}

.logo {
    font-size: 35px;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    line-height: 60px;
}

a {
    text-decoration: none;
    color: #fff
}

.wrapper {
    display: flex;
}

.header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.content-area {
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-area img,
.sidebar img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

img {
    max-width: 100%;
}

.content-text {
    padding: 15px;
}

.content-area h2 {
    margin: 0 0 15px 0;
}

.single-content {
    margin-bottom: 15px;
    margin-left: 15px;
    background-color: #fff;
}

.single-sidebar {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}

.single-sidebar h2 {
    margin: 0 0 15px 0;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background: tomato;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid green;
}

.footer {
    background-color: #000;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 25px 0;
    width: 100%;
}

@media screen and (min-width:850px) {
    .wrapper {
        flex-wrap: wrap;
    }
    .content-area {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        flex: 3;
        margin-right: 15px;
    }
    .sidebar {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        flex: 1;
    }
    .full-width {
        width: 100%;
    }
    .one-half {
        flex: 2;
    }
    .one-third {
        flex: 3;
    }
}

@media screen and(min-width:501px)and (max-width:850px) {
    .wrapper {
        flex-wrap: wrap;
    }
    .content-area {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        flex: 3;
        margin-right: 15px;
    }
    .sidebar {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        flex: 1;
    }
    @media screen and (max-width:500) {
        .wrapper {
            flex: wrap;
        }
    }
}