<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <title></title>
    <!-- <link rel="icon" href="./images/favicon.ico" /> -->
    <link rel="stylesheet" href="../styles/form.css" />
</head>

<body>
    <section id="auth">

        <div class="container dark">
            <button id="signin_tab" class="button active">Signin</button>
            <button id="signup_tab" class="button">SignUp</button>

            <div id="signin" class="signin box">
                <h2>SignIn</h2>
                <p>
                    Sigin to your account .
                </p>
                <form method="POST" action="../views/user.html">
                    <div>
                        <label>Email or Username</label>
                        <br />
                        <input type="text" placeholder="Email or Username" autofocus required/>
                    </div>
                    <div>
                        <label>Password</label>
                        <br />
                        <input type="password" placeholder="Password" required/>
                    </div>
                    <button class="button leftButtons" type="submit">SignIn</button>
                    <a href="../index.html">back</a>
                </form>
            </div>

            <div id="signup" class="signin box" hidden>
                <h2>SignUp</h2>
                <p>
                    Create new account. All fields marked * are required.
                </p>
                <form method="POST" action="../views/user.html">
                    <div>
                        <label>Name *</label>
                        <br />
                        <input type="text" placeholder="Name" autofocus required />
                    </div>
                    <div>
                        <label>Email *</label>
                        <br />
                        <input type="text" placeholder="Email or Username" required />
                    </div>
                    <div>
                        <label>Phone *</label>
                        <br />
                        <input type="tel" placeholder="Phone" required />
                    </div>

                    <button class="button leftButtons" type="submit">SignUp</button>
                    <a href="../index.html">back</a>
                </form>
            </div>

        </div>
    </section>

    <footer class="footer">
        <p>
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
        </p>
    </footer>

    <script type="text/javascript" src="../scripts/login.js"></script>

</body>

</html>