<html>

<head>
    <link rel="stylesheet" href="../styles/user.css">
</head>

<body>
    <div class="wrapper">
        <!-- Navigation -->
        <nav class="main_nav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">CREATE A FLAG</a>
                </li>
                <li>
                    <a href="#">PENDING REQUEST</a>
                </li>
                <li>
                    <a href="../index.html">LOG OUT</a>
                </li>
            </ul>
        </nav>
        <!-- Info Section -->
        <section class="info">
            <img src="../images/download.jpg" alt="police">
            <div>
                <h2>The Evil Chairman</h2>
                <p>Our local Government chairman is evil. He keeps spending the he his meant to us and develop our community
                </p>
                <a href="#" class="btn">Read More</a>
                <a href="#" class="btn">Delete</a>
            </div>
        </section>
        <section class="info">
            <img src="../images/police-.jpg" alt="">
            <div>
                <h2>Fake police Officers in lekki</h2>
                <p>The fake police officers in Leki keeps collect money from the people of orieku street. we need the government to look into that.
                </p>
                <a href="#" class="btn">Read More</a>
                <a href="#" class="btn">Delete</a>
            </div>
        </section>
    </div>
</body>
<footer class="footer">
    <p>
        Copyright &copy;
        <script>
            document.write(new Date().getFullYear());
        </script>
    </p>
</footer>

</html>

<!-- Wrapper Ends -->