<html>

<head>
    <link rel="stylesheet" href="../styles/create.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">

            <div class="nav">
                <a href="user.html">Home</a>
                <a href="create.html">Create Record</a>

                <a href="index.html">Logout</a>
            </div>
        </div>


        <form class="myForm">
            <div class="message">
                <label for="msg">Message</label>
                <textarea id="msg"></textarea>
            </div>
            <div class="contact">
                <label for="name">Location</label>
                <input type="text" id="name">

                <label for="name">Record Type</label>
                <select class="contact" name="" id="">
                    <option value="Red flag">Red Flag</option>
                    <option value="Intervention">Intervention</option>
                </select>
                <label for="geo">Co-ordinate</label>
                <input type="text" id="cord" readonly placeholder="your co-ordinate will appear here">

                <input type="file">
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>



    <!-- End of content area-->
    <!-- <div class="sidebar">
            <div class="single-sidebar">
                <h1>Pending</h1>
                <img src="../images/police-.jpg" alt="">
                <button class="button button3">Edit</button>
                <button class="button button3">Delete</button>
            </div>
            <div class="single-sidebar">
                <h1>Pending</h1>
                <img src="../images/police-.jpg" alt="">
                <button class="button button3">Edit</button>
                <button class="button button3">Delete</button>
            </div>
            <div class="single-sidebar">
                <h1>Pending</h1>
                <img src="../images/police-.jpg" alt="">
                <p>The Evil Officers</p>
                <button class="button button3">Edit</button>
                <button class="button button3">Edit</button>
            </div>
        </div> -->
    <div class="footer">
        <div class="social">
            <a href="">IREPORTER</a>

        </div>
    </div>




    </div>
</body>

</html>