<html>
<link rel="stylesheet" href="../styles/landing.css">
<header id="showcase" class="grid">
    <div class="bg_image"></div>
    <div class="content-wrap">
        <h1>Welcome to IREPORTER</h1>
        <a href="login.html" class="btn">Sign in</a>
        <p>Don't have an accont?
            <a href="login.html" style="color:red"> <u>Signup here</u></a>
        </p>

    </div>
</header>

<body>
    <main id="main">
        <!-- Section A -->
        <section id="section_a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Have you noticed any form of corruption?</h2>
                <p>Why wait when you can use IREPORTER and be heard?</p>
            </div>
        </section>

        <!-- Section B -->
        <section id="section_b" class="grid">
            <ul>
                <li>
                    <div class="card">
                        <img src="../images/african-man.jpg" alt="speaker">
                        <div class="card-content">
                            <h3 class="card-title">Your Voice</h3>
                            <p>IREPORTER Acts as your voice to the Government. We make sure you are heared

                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="../images/Platform-Networks-EdTech-.jpg" height="40px" alt="platform">
                        <div class="card-content">
                            <h3 class="card-title">
                                Your Platform
                            </h3>

                            <p>
                                Here you have an opportunity to express your feelings and tell us your pain
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="../images/f2d623edb45d702133a3ede4a9095282e3b2ce94.jpg" alt="solution">
                        <div class="card-content">
                            <h3 class="card-title">Your Solution</h3>
                            <p>
                                We don't just read your reports. Our solution team verifies and make sure the right ears hear them
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <!-- Section C -->
        <section id="section_c" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">We Communicate your mind to the Government</h2>
                <p></p>
            </div>
        </section>
        <section id="" class="grid">
            <div class="content-wrap">

            </div>
        </section>
    </main>

</body>
<footer class="footer">
    <p>
        Copyright &copy;
        <script>
            document.write(new Date().getFullYear());
        </script>
    </p>
</footer>

</html>