<html>

<head>
    <link rel="stylesheet" href="../styles/landing.css">
</head>

<body>
    <div class="wrapper">

        <div class="header">
            <!-- <div class="logo">
                IREPORTER
            </div> -->
            <div class="nav">
                <a href="login.html">Login</a>
                <a href="register.html">Signup</a>

            </div>
        </div>
        <div class="content-area">
            <div class="single-content full-width">
                <img src="../images/Oshodi-Lagos-Bus-Interchange.jpg" alt="">
                <div class="content-text">
                    <p>You can read the latest new about ongoing corruption on IREPORTER. You can also signup to post your stories about any form of corruption you have noticed.

                    </p>
                    <button class="button button3">Read more</button>
                </div>
            </div>



            <div class="single-content one-third">
                <img src="../images/WEB_PHOTO_Nigerian police.jpg" alt="">
                <div class="content-text">
                    <h2>Bad police officers</h2>
                    <p>Corrupt police officials keep collection money froom us in lekki. we need the Government to do justice to this. we can't keep paying
                    </p>
                    <button class="button button3">Read more</button>
                </div>
            </div>
            <div class="single-content one-third">
                <img src="../images/WEB_PHOTO_Nigerian police.jpg" alt="">
                <div class="content-text">
                    <h2>
                        Mushin police officers
                    </h2>
                    <p>
                        Yee. There are evil police officials in mushin o. They just keep on collecting bribe and letting bad people go. we need lawmakers.
                    </p>
                    <button class="button button3">Read more</button>
                </div>
            </div>
            <div class="single-content one-third">
                <img src="../images/Webp.net-resizeimage.jpg" alt="">
                <div class="content-text">
                    <h2>Evil Chairman</h2>
                    <p>
                        The People of Oshodi Local Government are really suffering for the local Government Chairman. The Chairman is not developing..
                    </p>
                    <button class="button button3">Read more</button>
                </div>
            </div>


        </div>
        <!--End of content area-->
        <div class="sidebar">
            <div class="single-sidebar">

                <img src="../images/Ikeja-Electric-e1533730146252.png" alt="">
                <p>Government orederd NEPA to give Mushin people 24hr constant electricity. Thanks to IREPORTER</p>
                <button class="button button3">Read more</button>
            </div>
            <div class="single-sidebar">

                <img src="../images/Webp.net-resizeimage (1).jpg" alt="">
                <p>
                    Thanks to IREPORTER. The WAEC chairman orderd schools to refund orphans.He will be funding their WAEC fees.This news is confirmed
                </p>
                <button class="button button3">Read more</button>
            </div>
            <div class="single-sidebar">

                <img src="../images/african-man.jpg" alt="">
                <p>Take Advantage of IREPORTER today.</p>
                <button class="button button3">Read more</button>
            </div>
        </div>
        <div class="footer">
            <div class="social">
                <a href="">IREPORTER</a>

            </div>
        </div>




    </div>
</body>

</html>