<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <title></title>
    <!-- <link rel="icon" href="./images/favicon.ico" /> -->
    <link rel="stylesheet" href="../styles/register.css" />
</head>

<body>
    <div class="contact-form">
        <img src="../images/ireporterp.jpg" alt="" class="avatar">
        <h2>Signup</h2>
        <form action="user.html">
            <p>Email</p>
            <input type="Email" required placeholder="email@example.com">
            <p>User Name</p>
            <input type="text" required placeholder="temi">
            <p>Password</p>
            <input type="password" type="password" placeholder="****" required>
            <input type="Submit" value="Register">
            <p><a href="login.html" style="color:tomato">login?</a><br/> <a style="color:tomato" href="index.html"> Home</a></p>

        </form>
    </div>

</body>

<script type="text/javascript" src="../scripts/login.js"></script>

</html>