<!DOCTYPE html>
<html>
<title>request</title>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>create flag</title>
    <link href="../styles/user_home.css" rel="stylesheet" type="text/css" />
    <link href="../styles/request.css" rel="stylesheet" type="text/css" />


</head>

<body>

    <hr />
    <!-- end #logo -->
    <div id="header">
        <div id="menu">
            <ul>
                <li><a href="../views/user_home.html" class="first">Home</a></li>
                <li class="current_page_item"><a href="#">Request</a></li>
                <li class=""><a href="../index.html">logout</a></li>
                <li class=""><a href="../views/admin.html">Admin</a></li>



            </ul>
        </div>

        <div id="page">
            <div id="content">
                <div class="post">
                    <h2 class="title">
                        <a href="#"></a>Request</a>
                    </h2>
                    <form action="">
                        <div class="container">

                            <table>
                                <tr>
                                    <th>ID</th>
                                    <th>Brief</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Bad police officers</td>
                                    <td>Approved</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Evil land lord</td>
                                    <td>Rejected</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Evil chairman</td>
                                    <td>Approved</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Evil chairman</td>
                                    <td>Pending</td>
                                    <td><a href="">Edit</a></td>
                                </tr>

                            </table>

                        </div>

                    </form>

                </div>


            </div>


</html>