<html>

<head>
    <link rel="stylesheet" href="../styles/user.css">
</head>

<body>
    <div class="wrapper">

        <div class="header">

            <div class="nav">
                <a href="">Home</a>
                <a href="create.html">Create Record</a>

                <a href="index.html">Logout</a>
            </div>
        </div>
        <div class="content-area">

            <div class="single-content one-third">
                <img src="../images/Webp.net-resizeimage (9).jpg" alt="">
                <div class="content-text">
                    <h2>Child Abuse</h2>
                    <p>The Goventement needs to.....</p>
                    <button class="button button3">Read more</button>
                    <button class="button button3">Edit/Delete</button>
                </div>
            </div>
            <div class="single-content one-third">
                <img src="../images/Webp.net-resizeimage (2).jpg" alt="">
                <div class="content-text">
                    <h2>Flood</h2>
                    <p>Flood takes over kogi.......</p>
                    <button class="button button3">Read more</button>
                    <button class="button button3">Edit/Delete</button>
                </div>
            </div>
            <div class="single-content one-third">
                <img src="../images/Webp.net-resizeimage (3).jpg" alt="">
                <div class="content-text">
                    <h2>Market saftey</h2>
                    <p>Orile market is not safe</p>
                    <button class="button button3">Read more</button>
                    <button class="button button3">Edit/Delete</button>
                </div>
            </div>
            <div class="single-content one-third">
                <img src="../images/Webp.net-resizeimage (4).jpg" alt="">
                <div class="content-text">
                    <h2>Corruption in the Army</h2>
                    <p>The Nigerian army.......</p>
                    <button class="button button3">Read more</button>
                    <button class="button button3">Edit/Delete</button>
                </div>
            </div>


        </div>
    </div>
    <div class="content-area">
        <div class="single-content one-third">
            <img src="../images/Webp.net-resizeimage (5).jpg" alt="">
            <div class="content-text">
                <h2>Transportation Error</h2>
                <p>Error in Transportation</p>
                <button class="button button2">Read more</button>
            </div>
        </div>
        <div class="single-content one-third">
            <img src="../images/Webp.net-resizeimage (6).jpg" alt="">
            <div class="content-text">
                <h2>Corruption in FTC</h2>
                <p>The FTC.....</p>
                <button class="button button2">Read more</button>
            </div>
        </div>
        <div class="single-content one-third">
            <img src="../images/Webp.net-resizeimage (7).jpg" alt="">
            <div class="content-text">
                <h2>Bad Roads</h2>
                <p>The road to....</p>
                <button class="button button2">Read more</button>
            </div>
        </div>
        <div class="single-content one-third">
            <img src="../images/Webp.net-resizeimage (8).jpg" alt="">
            <div class="content-text">
                <h2>Terrible Road</h2>
                <p>Terrible.....</p>
                <button class="button button2">Read more</button>
            </div>
        </div>



    </div>
    </div>



    <!--End of content area-->

    <div class="footer">
        <div class="social">
            <a href="">IREPORTER</a>

        </div>
    </div>




    </div>
</body>

</html>