@media (min-width: 992px) {
    .iReporter-6 {
        float: left;
    }
}

body {
    margin: -8px;
}

.iReporter-6 {
    width: 50%;
}

.information {
    background-color: #D9372B;
    height: 100%;
    width: fit-content
}

.responsive {
    max-width: 100%;
    height: auto;
    /* width: fit-content */
}

.contains {
    padding: 14px
}

.button {
    background-color: #D9372B;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.login_button {
    width: 250px;
}

.signup_button {
    width: 250px
}